<div id="contact" class="collapse">
  <div class="card card-body contactColor text-white py-5">
    <h2 class="text-center">About Me</h2>
    <p class="lead">Hello, I am Sujitkumar Borse Graduate Student specializing in
      industrial mathematics with computer application.<br>
      Looking for job at position as front-end Developer.
      I have <span class="text-warning"> 1.5 years of experience </span> in Angular 6/7.</p>
  </div>
  <div class="card contactColor1">
      <div class="card-body">
        <h4 class="card-title">Personal Details</h4>
        <p class="p-2 md-3 bg-dark text-white">
          Name : Sujitkumar Vinayakrao Borse
        </p>
        <p class="p-2 md-3 bg-dark text-white">
          phone : (+91) 9028725588
        </p>
        <p class="p-2 md-3 bg-dark text-white">
          DOB : 03rd June, 1993
        </p>
        <p class="p-2 md-3 bg-dark text-white">
          Address : Ft.No.10, Pashan Sadan Building, Pashan, Pune – 411021.
        </p>
        <p class="p-2 md-3 bg-dark text-white">
          Email ID : sujitkumarborse@gmail.com
        </p>
        <p class="p-2 md-3 bg-dark text-white">
          Marital Status : Unmarried
        </p>
        <p class="p-2 md-3 bg-dark text-white">
          Nationality : Indian
        </p>
        <p class="p-2 md-3 bg-dark text-white">
          Gender : Male
        </p>
        <p class="p-2 md-3 bg-dark text-white">
          Hobbies : Trekking, Cooking, Traveling
        </p>
      </div>
    </div>
  <!-- <div class="card card-body py-5">
    <h3>PERSONAL DETAILS</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quos illo, dicta id voluptates enim.</p>
    <form>
      <div class="form-group">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text bg-danger text-white">
              <i class="fas fa-user"></i>
            </span>
          </div>
          <input type="text" class="form-control bg-dark text-white" placeholder="Name">
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text bg-danger text-white">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          <input type="email" class="form-control bg-dark text-white" placeholder="Email">
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text bg-danger text-white">
              <i class="fas fa-pencil-alt"></i>
            </span>
          </div>
          <textarea class="form-control bg-dark text-white" placeholder="Message"></textarea>
        </div>
      </div>

      <input type="submit" value="Submit" class="btn btn-danger btn-block btn-lg">
    </form>
  </div> -->
</div>