<div id="work" class="collapse">
  <div class="card card-body workColor text-white py-5">
    <h2 class="text-center">My Work</h2>
    <!-- <p class="lead">Lorem ipsum, dolor sit tempora!</p> -->
  </div>
  <div class="card card-body py-5 workColor1">
    <h3>What I Have Built </h3>
    <hr>
    <h4>(1)Project (college project) :</h4>
    <p>Out Patient Department System (OPD System) </p>
    <div class="row no-gutters p-4 ">
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/img1.png" alt="img1" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/img2.png" alt="img2" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/img3.png" alt="img3" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/img4.png" alt="img4" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/img5.png" alt="img5" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/img6.png" alt="img6" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/img7.png" alt="img7" class="img-fluid">
        </a>
      </div>
    </div>
    <hr>
    <h4>(2)Project (Product):</h4>
    <p>SafeOne Safety App For Womans (SafeOneApp) </p>
    <div class="row no-gutters p-4 ">
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/img8.PNG" alt="img8" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/img9.PNG" alt="img9" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/img10.PNG" alt="img10" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/img11.PNG" alt="img11" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/img12.PNG" alt="img12" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/img13.PNG" alt="img13" class="img-fluid">
        </a>
      </div>
    </div>
    <hr>
    <h4>(3)Self Project:</h4>
    <p> PhotoShop Gallary </p>
    <div class="row no-gutters p-4 ">
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/Photograph1.PNG" alt="Photograph1" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/Photograph2.PNG" alt="Photograph2" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/Photograph3.PNG" alt="Photograph3" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/Photograph4.PNG" alt="Photograph4" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/Photograph5.PNG" alt="Photograph5" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/Photograph6.PNG" alt="Photograph6" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/Photograph7.PNG" alt="Photograph7" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a data-toggle="lightbox">
          <img src="assets/img/Photograph8.PNG" alt="Photograph8" class="img-fluid">
        </a>
      </div>
    </div>
    <hr>
    <h4>(4)Self Project :</h4>
    <p>Static Website </p>
    <div class="row no-gutters p-4 ">
      <div class="col-md-12">
        <a data-toggle="lightbox">
          <img src="assets/img/simple_website.jpg" alt="simple_website" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
</div>