<div id="resume" class="collapse">
  <div class="card card-body resumeColor text-white py-5">
    <h2 class="text-center ">My Resume</h2>
  </div>
  <div class="card card-body resumeColor1 text-white py-5">
<pre>
      
Name :- Sujitkumar Vinayakrao Borse	                                                                       Mob.No :-  9028725588
Email ID :- sujitkumarborse@gmail.com
        
        
<b style="font-size: 17px">CARRIER OBJECTIVE_________________________________</b>
        
  Seeking a responsible position in an organization, Which gives me chance to improve knowledge, enhance my skills and enable me to 
  strive towards the overall development of the organization.
        
        
<b style="font-size: 17px">EDUCATIONAL QUALIFICATION________________________</b>

        <table border="3px"  style="border-color:rgb(251, 251, 251);text-align: center;">
            <tr>
              <th> College/University</th>
              <th> Exam</th>
              <th> Years of Passing</th>
<!--               <th> Percentage</th> -->
              <th> Class </th>
            </tr>
            <tr>
              <td> Maharashtra State Board </td>
              <td> SSC </td>
              <td> 2009 </td>
<!--               <td> 83.69 </td> -->
              <td> Distinction </td>
            </tr>
            <tr>
                <td> Maharashtra State Board </td>
                <td> HSC </td>
                <td> 2011 </td>
<!--                 <td> 45.05 </td> -->
                <td> pass Class </td>
            </tr>
            <tr>
                <td> Modern College,Pune </td>
                <td> BSC(MATH) </td>
                <td> 2015 </td>
<!--                 <td> 72.25 </td> -->
                <td> Distinction </td>
            </tr>
            <tr>
                <td> Fergusson College,Pune </td>
                <td> M.Tech(IMWCA) </td>
                <td> 2018 </td>
<!--                 <td> 59 </td> -->
                <td> Higher Second Class </td>
            </tr>
        </table>

<b style="font-size: 17px">TECHNICAL SKILL____________________________________</b>
        
Languages :
            • Angular 6/7 
            • JavaScript,
            • HTML/HTML5,
            • CSS/CSS3,
            • Bootstrap 4
        
        
<b style="font-size: 17px">AREAS OF INTEREST : Web Development</b>
        
        
<b style="font-size: 17px">COLLEGE PROJECT__________________________________________</b>
        
        
Project Name:	Out Patient Department System (OPD System)
Team Size:	3
Technologies:	MEAN Stack(MongoDB, ExpressJS, Angular 4, Node.js)

Description:
        
    •Out Patient Department System is a web application for small Clinics. Basically it will be used by small to midsize medical
     practitioners for keeping the patient details along with his/her appointment details and doctor details.
    •The proposed system can be accessed from any corner of the world what you need is to get registered with OPD System.

        
      
<b style="font-size: 17px">PROJECTS________________________________</b>
        
(1)Project Name:  <b>CStoreBO</b>
Technologies:	   Angular 6(Html/Html5, Css/Css3, JavaScript, Bootstrap4)
Responsibility:   • Understanding business requirements.
                  • Gathering Client Requirement.
                  • Designing Web Pages.
                  • Working on the change request.
   
Description:  
        
    •cStore is an US based project. And it is intermediate in between CRM and fuel station to update
     daily product price and offers. It is wrap up of CRM. and back office application for fuel station or gas station
     management
    •In CStoreBO we have developed a web application by using Angular 6 and MVC .Net. By using Angular 6 we have improved
     the performance of application which was our main task. This project was mainly built for developed countries where Gas stations
     and shops operates automatically using the systems with less human resources.
     

     
(2)Project Name:  <b>CarSparc</b>
Technologies:	   Angular 7(Html/Html5, Css/Css3, JavaScript, Bootstrap4)
Responsibility:   • Understanding business requirements.
                  • Gathering Client Requirement.
                  • Designing Web Pages.
                  • Working on the change request.
   
Description:  
        
    •The aim of the project is to provide the car services which will be affordable to user. Also it is beneficial for the Service
     center as it helps to bring more customers to be the part of that center.
     
     
<b style="font-size: 17px">PERSONAL DETAILS__________________________________</b>
        
        •	DOB : 03rd June, 1993
        •	Address : Ft.No.10, Pashan Sadan Building, Pashan, Pune – 411021.
        •	Email ID : sujitkumarborse@gmail.com
        •	Marital Status : Unmarried 
        •	Nationality : Indian
        •	Gender : Male
        •	Hobbies : Trekking, Cooking, Traveling
        



Date:      	                                                                                         Sujitkumar Vinayakrao Borse
    </pre>
  </div>
  <div class="card card-body bg-success py-5">
    <h3>Where Have I Worked?</h3>
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditepudiandae debitis sit aperiam
      magnam!</p> -->
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Arnav Technosys</h4>
          <!-- <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, sit?</p> -->
          <p class="p-2 md-3 bg-dark text-white">
            Position : UI Developer(Intern)
          </p>
          <p class="p-2 md-3 bg-dark text-white">
            Skills : Html/Html5, Css/Css3, Bootstrap 4, JavaScript
          </p>
        </div>
        <div class="card-footer">
          <h6 class="text-muted">Dates : Jan 2018 - June 2018</h6>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Arnav Technosys</h4>
          <!-- <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, sit?</p> -->
          <p class="p-2 md-3 bg-dark text-white">
            Position : Angular Developer
          </p>
          <p class="p-2 md-3 bg-dark text-white">
            Skills : Angular 6/7, Html/Html5, Css/Css3, Bootstrap 4, JavaScript
          </p>
        </div>
        <div class="card-footer">
          <h6 class="text-muted">Dates : Aug 2018 - Present</h6>
        </div>
      </div>

    </div>
  </div>
</div>